.container {
    padding: 4%;
    align-items: stretch;
    display: flex;
}

.info {
    margin-left: 4%;
    margin-right: 4%;
}

.stats {
    margin-left: 4%;
    margin-right: 4%;
}

.typing {
    align-self: center;
    display: flex;
    text-align: center;
}