.App {
  text-align: center;
}

.App-header {
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.modal {
  margin-left: 10vh;
  margin-right: 10vh;
  margin-top: 5vw;
  width: 1200px;
  height: 500px;
  background: #f1f1f1;
}

.modalBtnClose {
  float: right;
  border-radius: 50%;
}

.App-link {
  color: #61dafb;
}

